# General macOS
.DS_Store

# Xcode User-specific files
# This is better than ignoring a single user's state file.
VibeExchange.xcodeproj/project.xcworkspace/xcuserdata/

# Secrets
# These files contain sensitive keys and should not be in version control.
VibeExchange/Config/Secrets.xcconfig
VibeExchange/Preview Content/Secrets.xcconfig
VibeExchangeServer/.env.development.local

# Vercel Server
# This is the build output from the Vercel CLI.
VibeExchangeServer/.vercel
