<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API</key>
	<dict>
		<key>ExchangeRateAPI</key>
		<dict>
			<key>BaseURL</key>
			<string>https://v6.exchangerate-api.com/v6</string>
			<key>KeyIdentifier</key>
			<string>exchange_rate_api_key</string>
			<key>EncryptedKey</key>
			<string>ZDU4ZDgwNTgzMzc1ZGU3ZGY0NDUxNjk3</string>
		</dict>
	</dict>
</dict>
</plist> 